
main {
	display: flex;
	flex-direction: row;
	font-family: monospace;
}

div.history {
	display: flex;
	flex-direction: column;
}

div.historyline {
	display: flex;
	flex-direction: row;
}

div.eval{
	display: flex;
	flex-direction: row;
}

.stack {
	min-width: 10em;
	border: 1px solid black;
}

.expression {
	min-width: 10em;
	width: 100%;
}

.result {
	min-width: 10em;
	font-family: monospace;
}

table {
	border-collapse: collapse;
}

.historyline {
	margin-bottom: 1en;
	border-bottom: 1px solid black;
}
