
main {
	display: flex;
	flex-direction: row;
}

div.history {
	display: flex;
	flex-direction: column;
}

div.historyline {
	display: flex;
	flex-direction: row;
}

div.eval{
	display: flex;
	flex-direction: row;
}

div.stack {
	min-width: 10em;
	font-family: monospace;
}
