
main {
	display: flex;
	flex-direction: row;
	font-family: monospace;
	width: 100%;
	height: 100%;


}

div.history {
	display: flex;
	flex-direction: column;
}

div.historyline {
	display: flex;
	flex-direction: row;
}

.stack {
	min-width: 10em;
	border: 1px solid black;
}

.expression {
	min-width: 10em;
	width: 100%;
}

.result {
	min-width: 10em;
	font-family: monospace;
}

.heap{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.heap-display{
	overflow: scroll;
}

table {
	border-collapse: collapse;
}

.historyline {
	margin-bottom: 1en;
	border-bottom: 1px solid black;
}

/*
By default, the onclick handler for a <g> isn't activated within its whole area, but just within its inner elements.
This makes it activate within the full area- like we want.
*/
g.node {
	pointer-events: fill;
}
